h2{
color: aliceblue;
}

.close
{
    font-weight: 700;
    color: white;
  
    font-size: 33px;
    width: 50px;
    background: none;
}

input.ng-invalid.ng-touched{

border: 1px solid red;
}